
<mat-toolbar class="header">

    <span class="title-group">
        <a> <!--link para a logo--> 
            <img src="assets/img/logo-01.png" alt="logotipo">
        </a>
    </span>
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--menu de navegação-->
    <nav>
        <input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<span class="material-icons">
                menu
                </span>
		</label>
    <!--Lista para meu menu-->
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Localização</a></li>
        </ul>
    </nav>

                
</mat-toolbar>

